# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Ignore .env file
.env.*

# Symbolication related
app.*.symbols

# Ressource Files
*.mp4
*.png
*.jpg
*.jpeg
.venv
logs
output